.road  {

  background-color: black;
  width: 100%;
  border-bottom: dashed 3px white;
  z-index: 1;
  clear: left;
  bottom: 0;

}

.track{
  height: 110px;
  width: 110px;

}

  float-test{
  float: center;
  background-color: red;
  border: 3px black solid;
}

.avatarOne{
  display: block;
  height: 100px;
  width: 100px;
}

.avatarTwo{
   height: 100px;
   width: 100px;
}
